header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

.header-content{
    color: rgb(78, 78, 78);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 0.8rem;   
}
.header-content:last-child{
    padding: 8px;
    margin-right: 15px;
    margin-left: 5px;
    color: white;
    background-color: rgb(13, 137, 214);
    border-radius: 15%;
}
.header-content:nth-child(2){
    padding: 10px;
    font-size: 120%;
    color: rgb(102, 100, 100);
}
.header-content:nth-child(2):hover{
   background-color: rgb(204, 200, 200); 
   border-radius: 50%;
   
}

#start_child{
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 0.8rem;
    color: rgb(102, 100, 100);
}

#start_child .directions{
    margin-left: 15px;
}
#start_child .directions:hover{
    border-bottom: 1px solid black; 
    cursor: pointer;
}

main{
    height:calc(100vh - 161px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#main-centert{
    width: 600px;
    height: 100%;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    align-content: flex-start;
   
}
#img_content{
    
    margin-top:5px;
    
}
#img_content #colour_google{
   display: flex;

}
#img_content #white_google{
    display: none;
    
}
#search_box{
    margin-top: 25px;
    width: 580px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-bottom: 30px;
    border-radius: 30px;
    border: 0.1px solid rgb(199, 197, 197);
   
}
 #search_box:hover{
    box-shadow: 1px 1px 2px 2px rgb(206, 203, 203);
    outline: none;
    border: none;
}

#search_box img{
    height: 23px;
    width: 23px;
    margin-bottom: 0%;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 15px;
    background-color:transparent;
}

#search_box input{
    height: 40px;
    width: 500px;
    border-left: 5px;
    border-color:transparent;
    border: none;
    outline: none;
    background-color: none;
    background-color:transparent;
}
#search_box ion-icon{
    color: rgb(161, 158, 158);
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 50%;
    background-color: transparent;
}
#last-box{
    color: rgb(126, 123, 123);
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}
.button-class{
    font-size: 0.9rem;
    color: rgb(66, 65, 65);
    background-color:rgb(241, 241, 250);
    border-color:transparent;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    font-family: Arial;
    border: none;

}
button:hover{
    background-color:rgb(245, 241, 241);
    border-color:rgb(187, 185, 185);
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(233, 231, 231);
    cursor: pointer;

}
#sinhala{
    color: rgb(86, 86, 240);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    
}
#sinhala:hover{
    border-bottom: 1px solid rgb(46, 46, 233);
}
#tamil{
    color: rgb(90, 90, 238);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    
}
#tamil:hover{
    border-bottom: 1px solid rgb(27, 27, 173);
}
#google-offer{
    font-size: 0.8rem;
}
.footer-content{
    margin: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    cursor: pointer;
}
#water-mark{
    right: 0;
    bottom: 0;
    position: absolute;
    color: rgb(131, 126, 126);
}

footer{
    color: rgb(95, 94, 94);
    background-color:rgb(241, 241, 250);
}
#country{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
#country-name{
    margin-left: 30px;
    font-size: 0.9rem;

}
#footer-footer{
    border-top: 1px solid rgb(199, 195, 195);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#footer-left{
    margin-left: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}
#footer-right{
    margin-right: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
 
    
    
}
#footer-left div:hover{
    border-bottom: 1px solid rgb(95, 95, 97); 
}
#footer-right div:hover{
    border-bottom: 1px solid rgb(95, 95, 97);
}
@media all and (prefers-color-scheme: dark) {
    * {
        background-color: #282828;
        color: rgb(230, 230, 230);
    }

    #main-centert{
        background-color: #282828;
        color: rgb(230, 230, 230);
    }
    #img_content #colour_google{
        display: none;
    }
    #img_content #white_google{
        display: initial;
    }
    .button-class{
        background-color: #686868;
        color: white;
    }
    #search_box:hover{
        background-color: #494949;
        box-shadow: none;
        border: none;
    }
    .header-content:nth-child(2):hover{
        background-color: rgb(59, 57, 57); 
    }
    .button-class{
        background-color: #494949;
    }
    .button-class:hover{
        border: 0.01px solid rgb(138, 136, 136) !important;
        background-color: #494949;
        box-shadow: none;
    
    }

}
@media all and (max-width: 680px) {
    #search_box{
        width: 400px;
    }
    #search_box ion-icon{
        font-size: 2rem;
    }
    #footer-footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    #water-mark{
        bottom: 100px;
    }
}
@media all and (min-width: 320px) and (max-width: 480px){
    #search_box{
        width: 300px;
    }
    #search_box ion-icon{
        font-size: 5rem;
    }
    #main-centert{
        width: 450px;
    }
}



